footer {
  background-color: #313131;
  font-weight: 700;
  font-size: 16px;
  border-top: solid 6px var(--bs-primary);
  padding: 12px 0 15px;

  @media (min-width: 576px) {
    font-size: 20px;
  }

  .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
  }

  .in-footer {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;

    .logo-footer {
      margin-right: 11px;
      display: none;

      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
}