header {
  background-image: url("../../assets/img/bg-header@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -1px;
  height: 117px;
  display: flex;
  align-items: flex-end;

  @media (min-width: 576px) {
    height: 209px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 12px;
    line-height: 1.1;

    @media (min-width: 576px) {
      font-size: 60px;
      letter-spacing: 4.3px;
      margin-bottom: 35px;
    }
  }
}