#gallerylist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  //grid-template-columns: 1fr;
  //grid-gap: 22px 0px;

  li {
    width: 311px;
    margin: 0 0 20px;

    @media (min-width: 576px) {
      width: 32%;
      margin: 0 0 20px;
    }
    @media (min-width: 769px) {
      width: 31.3%;
      margin: 0 0 35px;
    }
    @media (min-width: 1025px) {
      width: 31.532%;
      margin: 0 0 35px;
    }

    &.list-item {
      display: list-item;
    }
    &:not(list-item) {
      display: none;
    }
  }

  @media (min-width: 576px) {
    //grid-template-columns: 350px 350px 350px;
    //grid-gap: 35px 30px;
  }
}

