#loadMore {
  font-size: 18px;
  text-align: center;
  color: var(--bs-pink);
  text-decoration: none;
  margin: 36px 0 78px;

  @media (min-width: 576px) {
    font-size: 20px;
    margin: 25px 0 100px;
  }
}
#loadMore:hover {
  color: var(--bs-gray-dark);
}