.header-search {
  padding: 10px 0 15px;

  @media (min-width: 576px) {
    padding: 42px 0 45px;
  }

  .col {
    display: flex;
    justify-content: center;

    @media (min-width: 576px) {
      justify-content: flex-end;
    }
    @media (min-width: 769px) {
      justify-content: flex-end;
    }

    &.search-label {
      color: var(--bs-gray-dark);
      font-size: 18px;
      display: none;
      align-items: center;
      justify-content: flex-end;

      @media (min-width: 576px) {
        display: flex;
        font-size: 18px;
      }
      @media (min-width: 769px) {
        font-size: 20px;
      }
    }

    &.col-desktop {
      display: none;

      @media (min-width: 668px) {
        display: block
      }
    }
  }
}
#search {
  background-image: url('../img/lupa.svg');
  background-position: 96% center;
  background-repeat: no-repeat;
  background-size: 17.86px;
  width: 261px;
  height: 35px;
  font-size: 16px;
  padding: 11px 50px 11px 11px;
  border: none;
  margin: 0;
  background-color: var(--bs-gray);
  border-radius: 5px;

  @media (min-width: 576px) {
    margin: 0 0 0 8px;
  }
  @media (min-width: 769px) {
    width: 281px;
    height: 47px;
    border-radius: 10px;
    background-size: unset;
    margin: 0 0 0 8px;
  }
}