.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h1 {
    color: var(--bs-pink);
  }
}
.form-signin .checkbox {
  font-weight: 400;
  width: 100%;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
  border-color: var(--bs-pink);
  box-shadow: 0 0 0 0.25rem rgba(194, 63, 129, .25);
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}