* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root {
  --bs-font-sans-serif: "Roboto", sans-serif;
  --bs-primary: #C23F81;
  --bs-primary-hover: #74667E;
  --bs-gray: #ECECEC;
  --bs-gray-light: rgba(214,213,214,.45);
  --bs-gray-dark: #888888;
  --bs-gray-dark2: #313131;
  --bs-pink: #C23F81;
}

input:focus, a:focus, button:focus {
  outline: none;
}

body {
  color: white;
}

.container, .container-fluid {
  max-width: 1110px;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: 1025px) {
    box-sizing: content-box;
  }

  .row {
    width: 100%;
    margin: 0;
    justify-content: space-between;

    .col {
      padding: 0;
    }

    &#gallerylist {
      .col {
        padding: 0;
        margin: 0 0 20px;

        @media (min-width: 576px) {
          margin: 0 12px 35px 0;
        }
        @media (min-width: 769px) {
          margin: 0 30px 35px 0;
        }

        &:nth-child(3n) {
          margin: 0 0 20px;

          @media (min-width: 576px) {
            margin: 0 0 35px;
          }
        }
      }

      .card-body {
        .row {
          .col {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

/* btn-primary */
.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border-right: 8px;
  padding: 12px 17px;
  line-height: 1;
  border-radius: 8px;

  &:hover {
    background-color: var(--bs-primary-hover);
    border-color: var(--bs-primary-hover);
  }

  &:focus {
    box-shadow: none;
    background-color: var(--bs-gray-dark);
    border-color: var(--bs-gray-dark);
  }
}

/* navbar */
.navbar {
  padding: 13px 0 8px;
  background: white;

  .col {

    &:last-child {
      //flex: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  .logo-top {
    img {
      width: 122px;
      height: auto;

      @media (min-width: 576px) {
        width: auto;
      }
    }
  }

}

.fixed-top {
  width: 100%;
  margin: 0;
}
.navbar-toggler {
  background: var(--bs-pink);
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  &:focus {
    box-shadow: none;
  }

  .navbar-toggler-icon {
    width: 13px;
    height: 2px;
    background: white;
    border-radius: 4px;
    position: relative;
    margin-left: -8px;

    &::after {
      content: '';
      position: absolute;
      width: 19px;
      height: 2px;
      background: white;
      top: -4px;
      left: 0;
      border-radius: 4px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 19px;
      height: 2px;
      background: white;
      bottom: -4px;
      left: 0;
      border-radius: 4px;
    }
  }
}

.navbar-collapse {
  width: auto;
  position: absolute;
  right: 18px;
  margin-top: 15px;

  @media (min-width: 768px) {
    width: unset;
    position: unset;
    right: unset;
    margin-top: unset;
  }
}

/* card */
.card {
  border: none;
  border-radius: 8px;
  height: 350px;
  overflow: hidden;

  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .author-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
  .author {
    color: var(--bs-gray-dark2);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1;
  }
  .hash {
    color: var(--bs-gray-dark2);
    font-size: 14px;
    line-height: 1;
  }

  .card-body {
    background: var(--bs-gray-light);

    .row {
      display: flex;
      align-items: center;
    }
  }
}

/* modal */
.modal-content {
  border: none;
  border-radius: 10px;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-gray-dark);
  //background: var(--bs-pink);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 330px;
  }
}

@media (min-width: 1200px) {
  .col-xl-11 {
    padding: 0;
  }

  .navbar {
    padding: 18px 0 13px;
  }
}